.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background: #333;
}

.header .inner {
    position: relative;
    align-items: center;
    display: flex;
}

.header .inner h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .hd1 {
    height: 72px;
}

.header .hd1 .inner .gnb {
    margin-top: 32px;
    margin-left: auto;
    font-size: 14px;
    line-height: 24px;
    color: #ddd;
}

.header .hd1 .inner .gnb>ul {
    display: flex;
    gap: 12px;
}

.header .hd2 {
    height: 48px;
    border-top: 1px solid #666;
}

.header .hd2 .inner {
    margin-top: 16px;
}

.header .hd2 .inner .gnb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0);
}

.header .hd2 .inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .hd2 .inner .util {
    margin-left: auto;
}

.header .hd2 .inner .utils {
    margin-left: 40px;
}

.main_visual {
    position: relative;
    color: #fff;
}

.main_visual .itm {
    position: relative;
    height: calc(100vh - 120px);
}

.main_visual .itm01 {
    background: url(../images/asa.JPG) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/zz2.jpg) no-repeat center center/cover;
}

.main_visual .itm .txt1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;
    text-align: right;
}

.main_visual .itm .txt1 h2 {
    font-size: 80px;
    font-weight: 700;

    line-height: 80px;
    text-shadow: 0 0 2px #000;

    margin-bottom: 40px;
    font-style: italic;
}

.main_visual .itm .txt1 p {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}

.main_visual .itm .txt1 span {
    display: block;
    margin-bottom: 8px;
}

.main_visual .itm .txt1 strong {
    font-size: 32px;
    margin-bottom: 16px;
}

.main_visual .itm .txt2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;
    text-align: center;
}

.main_visual .itm .txt2 span {
    font-size: 20px;
    line-height: 56px;
}

.main_visual .itm .txt2 h2 {
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 40px;
}

.main_visual .itm .txt2 p {
    font-size: 24px;
    line-height: 32px;
}


.main_product {
    padding: 80px 0;
    background: #333;
}

.main_product .slick-arrow {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-45deg);

    border: none;
    font-size: 0;

    width: 40px;
    height: 40px;
}

.main_product .slick-prev {
    margin-left: -650px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.main_product .slick-next {
    margin-left: 650px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.main_product .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1400px;
    width: 100%;
}

.main_product .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    border: none;
    background: transparent;

    cursor: pointer;
}

.main_product .arrows .prev {
    left: 0;
}

.main_product .arrows .next {
    right: 0;
}

.main_product .inner .itm img {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}

.main_product .inner .itm {
    border: 1px solid #666;
}

.main_product .inner .itm .desc {
    padding: 24px 40px;
}

.main_product .inner .itm .desc h2 {
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 800;
    text-align: center;
}

.main_product .inner .itm .desc p {
    text-align: center;
}

.main_product .main_product_slide {
    margin: 0 -15px;
}

.main_product .main_product_slide .itm {
    margin: 0 15px;
}

.main_product .main_product_slide .slick-dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
}

.main_product .main_product_slide .slick-dots li button {
    width: 20px;
    height: 20px;
    color: #fff;

    border: 1px solid #666;
    font-size: 12px;
    border-radius: 50%;

    cursor: pointer;
}

.main_product .main_product_slide .slick-dots li.slick-active button {
    background: #666;
}

.main_banner {
    max-width: 1170px;
    margin: 0 auto;
}

.main_banner .inner {
    padding: 80px 0;
}

.main_banner .inner .container {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.main_banner .inner .container .box {
    overflow: hidden;
    height: 240px;
}

.main_banner .inner .container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.box:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.box:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1/2;
}

.main_banner .inner .container .box:nth-child(4) {
    grid-column: 5/7;
    grid-row: 1/3;
    height: 496px;
}

.box:nth-child(5) {
    grid-column: 1/4;
    grid-row: 2/3;
}

.box:nth-child(6) {
    grid-column: 4/5;
    grid-row: 2/3;
}

.footer {
    padding: 80px 0;
    color: #666;
    background: #cacaca2a;
    border-top: 1px solid #4140403d;
}

.footer .customer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;

    transform: translate(-50%, -50%);

    width: 2px;
    height: 8px;
    background: #333;
}

.footer .inner p {
    margin-top: 16px;
    line-height: 24px;
}

.footer .inner .ft_award {
    display: flex;
    margin-top: 16px;
    gap: 40px;
}